body {
  text-align: center;
  background-image: url("Images/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
  list-style: none;
  padding-bottom: 40px
}

.text{
  background-color: rgba(255,200,255,0.75);
  margin: 40px;
  border: 10px solid white;
}

a{
  color:black;
  font-size: 30px;
}

h1{
  font-size: 80px;
}

p {
  font-size: 25px;
}

.Wowza {
  font-size: 40px;
  color: red;
  font-style: italic;
}

.Special {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}

.person {
  float:left;
}
.review{
  padding-top: 40px;
  width: 400px;
  background-color: rgba(255,200,255,0.75);
  float:left;
}

@media screen and (max-width:800px){
  body{
    background-size:auto;
  }
}
